<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <br>
      <%= f.email_field :email,:required => true, class: 'form-control' %>
      <br>
      <br>
      <%= f.label :password %>
      <br>
      <%= f.password_field :password,:required => true, class: 'form-control' %>
      <br>
      <br>
      <%= f.submit "Log in", class: "btn btn-primary",style: 'width:8%;color: black;background-color: LightSeagreen ;height:30px'%>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", users_path %></p>
  </div>
</div>
