<% provide(:title, "Edit user") %>
<h1>Update User</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:user, url: user_path, :method => :put) do |f| %>

      <%= f.label :username %>
      <br>
      <%= f.text_field :username, :required => true,class: 'form-control' %>
      <br><br>
      <%= f.label :email %>
      <br>
      <%= f.email_field :email,:required => true, class: 'form-control' %>
      <br><br>
      <%= f.label :password %>
      <br>
      <%= f.password_field :password,:required => true, class: 'form-control' %>
      <br><br>
      <% if current_user.image? %>
        <%= image_tag current_user.image.thumb.url %>
        <div>
          <%= label_tag :remove_image do %>
            Remove image
            <%= f.check_box :remove_image %>
          <% end %>
        </div>
    <% end %>
    <br><br>
    <%= f.label :image %>
    <br>
    <%= f.file_field :image%>
    <br><br>
      <%= f.submit "save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
