<h1>Sign Up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:user, url: users_path) do |f| %>
      <%= f.label :username %>
      <br>
      <%= f.text_field :username,:required => true, class: 'form-control'%>
      <br>
      <br>
      <%= f.label :email %>
      <br>
      <%= f.email_field :email,:required => true, class: 'form-control' %>
      <br>
      <br>
      <%= f.label :password %>
      <br>
      <%= f.password_field :password, :required => true,class: 'form-control' %>
      <br>
      <br>
      <%= f.label :image %>
      <br>
      <%= f.file_field :image ,:accept =>"image/png,image/gif,image/jpeg,image/jpg"%>
      <br>
      <br>
      <%= f.submit "Sign up", class: "btn btn-primary",style: 'width:8%;color: black;background-color: LightSeagreen ;height:30px' %>

    <% end %>
  </div>
</div>
