<table cellpadding="5">
  <% @hashtags.each do |hashtag| %>
    <tr>
      <td style="color: gray;font-size: 20px"><b><%= hashtag.post.user.username%></b></td>
    </tr>
    <tr>
      <td style="font-size: 18px"><b>title:</b> <i><%= hashtag.post.title %></i></td>
    </tr>
    <tr>
      <td>body: <i><%= hashtag.post.body %></i></td>
      <td style="float:right"><%= link_to "Show",user_post_path(hashtag.post) %></td>
    </tr>
  <% end %>
<table>
