<% provide(:title, "Update Post") %>
<h1>Update Post</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:post,url:user_post_path,:method => :put ) do |f| %>

      <%= f.label :title %>
      <br>
      <%= f.text_field :title, class: 'form-control' %>
      <br>
      <br>
      <%= f.label :body %>
      <br>
      <%= f.text_area :body, class: 'form-control',:rows => 10, style: 'width:80%;' %>
      <br>
      <br>
      <%= f.submit "Update", class: "btn btn-primary", style: 'width:20%;color: black;background-color: LightSeagreen ;height:30px' %>
    <% end %>
  </div>
</div>
