<% provide(:title, "Add Post") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:post,url:user_posts_path) do |f| %>
      <h1>Add new Post</h1>
      <% if current_user.image?%>
        <%= image_tag current_user.image,style:'float: right;height: 250px;' %>
      <%end%>
      <%= f.label :title %>
      <br>
      <%= f.text_field :title,:required => true, class: 'form-control' %>
      <br>
      <br>
      <%= f.label :body %>
      <br>
      <%= f.text_area :body, class: 'form-control',:required => true,:rows => 10, style: 'width:80%;' %>
      <br>
      <br>
      <%= f.submit "Add Post", class: "btn btn-primary", style: 'width:20%;color: black;background-color: LightSeagreen ;height:30px' %>
      <br>


    <% end %>

  </div>
</div>
