<table>
    <tr>
      <td>author: <%= @post.user.username %></td>
    </tr>
    <tr>
      <td>title : <%= @post.title %></td>
    </tr>
    <tr>
      <td>body : <%= @post.body %></td>
    </tr>
    <tr>
    <td>hashtags: </td>
    <% @post.hashtags.each do |hashtag| %>
    <td><%= link_to hashtag.name, hashtag_path(hashtag) %> </td>
    <%end%>
    </tr>
    <tr>
      <td>
        <% if current_user == @post.user %>
          <%= button_to "Delete",user_post_path, :method => :delete,data: {confirm: 'Are you sure?'},style: 'color: black;background-color: LightSeagreen ;height:30px' %>
          <%= button_to "Edit",edit_user_post_path(@post),:method => :get,style: 'color: black;background-color: LightSeagreen ;height:30px' %>
        <% end %>
      </td>
    </tr>
</table>

<% if current_user == @post.user %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:hashtag, url: post_hashtags_path(@post)) do |f| %>
        <br>
        <%= f.text_field :name, class: 'form-control'%>
        <%= f.submit "Add hashtag", class: "btn btn-primary",style: 'color: black;background-color: LightSeagreen' %>
      <% end %>
    </div>
  </div>
<%end%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:comment, url: post_comments_path(@post)) do |f| %>
      <br>
      <%= f.text_area :body, class: 'form-control',:rows => 4, style: 'width:40%;' %>
      <br>
      <%= f.submit "Add comment", class: "btn btn-primary",style: 'width:20%;color: black;background-color: LightSeagreen ;height:30px ' %>
    <% end %>
  </div>
</div>

<h2>Comments</h2>
<table>
<% @post.comments.each do |comment| %>
  <tr>
    <td><b><%= comment.user.username %></b>: <%= comment.body %> </td>
  </tr>
  <tr>
    <td style="font-size: 12px;color:gray"><%= comment.updated_at%> </td>
  </tr>
  <tr>
    <td>
      <%if current_user == comment.user%>
        <%= button_to "Delete", "/posts/#{@post.id}/comments/#{comment.id}",:method => :delete,data: {confirm: 'Are you sure?'} ,style: 'width:80%;color: black;background-color: LightSeagreen ;height:30px '%>
      <% end %>
     </td>
  </tr>

<% end %>
</table>
