<h1> Posts</h1>
<table cellpadding="5">
  <% @posts.each do |post| %>
    <tr>
      <td style="color: gray;font-size: 20px"><b><%= post.user.username%></b></td>
    </tr>
    <tr>
      <td style="font-size: 18px"><b>title:</b> <i><%= post.title %></i></td>
    </tr>
    <tr>
      <td>body: <i><%= post.body %></i></td>
      <td style="float:right"><%= link_to "Show",user_post_path(post) %></td>
    </tr>
  <% end %>
<table>
<%= will_paginate @posts %>
