<!DOCTYPE html>
<html>
<style>
ul {
  list-style-type: none;
  height: 30px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: teal;
}
</style>
<% if logged_in? %>
<ul>
  <%= link_to "Home", posts_path ,:style => 'color: #FFFFFF; text_align: center;padding: 14px 16px;'%>
  <%= link_to "Add Post", user_posts_path ,:style => 'color: #FFFFFF; text_align: center;padding: 14px 16px;'%>
  <%= link_to "Update User Profile", edit_user_path(current_user.id),:style => 'color: #FFFFFF;text_align: center;padding: 14px 16px;' %>
  <%= link_to "Back", request.env['HTTP_REFERER'] ,:style => 'color: #FFFFFF;text_align: center;padding: 14px 16px;'%>
  <%= link_to "logout", logout_path ,:method => :delete,:style => 'color: #FFFFFF;text_align: center;float: right'%>
</ul>
<% end %>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>




</html>
